{% extends "resepti_app/base.html" %}

{% load static %}

{% block title %}Lisää resepti{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('.check_warp').find("ul").addClass('list-group ')
        $('.check_warp').find("li").addClass('list-group-item')
        $('.check_warp').find("input").addClass('form-check-input me-1')
    })
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <form method="post" class="mb-4" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div>{{ form.headline }}</div>
        <div>{{ form.body_text|safe }}</div>
        <div>{{ form.image }}</div>
        
        <div class="check_warp">{{ form.ingredients }}</div>
        
        <div>{{ form.categoryFK }}</div>
        <div>{{ form_category.cat_name }}</div>
        <button type="submit" class="btn btn-success mb-4 px-4">Submit</button>
    </form>
    </div>
</div>
{% endblock %}
