{% extends "resepti_app/base.html" %}

{% load static %}

{% block title %}Lisää resepti{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        //https://github.com/Neolot/jQuery.AutoColumnList
        //https://neolot.com/narabotki/autocolumnlist-jquery-plugin-dlya-razdeleniya-spiskov-na-kolonki
        $('#id_basic_ingredient').autocolumnlist({columns: 10});

        $('.check_warp').find("ul").addClass('list-group')
        $('.check_warp').find("li").addClass('list-group-item')
        $('.check_warp').find("input").addClass('form-check-input me-1')

        $('#add_field').click(function(){
            console.log('click')
            var r = /\d+/;
            var last_input_name = $('#formset_block input:last').attr('name')
            counter = parseInt(last_input_name.match(r), 10) + 1
            console.log('counter ' + counter)

            var $input = $('#formset_block input:last').clone()
            $('#formset_block input:last').after($input)

            var form_name = 'form-' + counter + '-ing_name'
            var form_id = 'id_form-' + counter + '-ing_name'
            $('#formset_block input:last').attr('name', form_name)
            $('#formset_block input:last').attr('id', form_id)

            $('#id_form-TOTAL_FORMS').attr('value', counter+1)
        })
    
        
    })
</script>
{% endblock %}
{% block content %}
<div class="content_warp"> 
    <div class="row">
    <form method="post" class="mb-4" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="h1 pb-4 pt-4">Reseptin Lisääminen</div>
        <div class="pb-3 ">
            <p>Anna reseptille mieleisesi otsikko. Esim. "Suussasulavat suklaakeksit"</p>
            {{ form.headline }}
        </div>

        <div class="pb-3 border-bottom mb-4" id="formset_block">
            <div class="mb-2 "> <!--input-group нужно продублировать div целиком и не забыть, что мы используем input:last -->
                {% if formset  %}
                {% for form_ingredient in formset %}
                    {{ form_ingredient.ing_name }}
                {% endfor %}
                {% endif %}
                <!-- {{ form_ingredient.ing_name }} -->
                <!-- {{ form_amount.amount }} -->
            </div>
            <div style="text-align: right;">
                <a href="#" onclick="return false;" id="add_field"><button type="button" class="btn btn-success mb-4 px-4">Lisää kenttä</button></a>
            </div>
        </div>

        <div class="pb-3 border-bottom mb-4">{{ form.body_text }}</div>
        <div class="pb-3 border-bottom mb-4">
            <p class="form-headline d-flex justify-content-end">Lisää kuva</p>
            {{ form.image }}
        </div>
        
        <div class="check_warp pb-3 border-bottom mb-4">
            <p class="form-headline d-flex justify-content-end">Valitse päärakaa-aineet</p>
            <div style="display: block;">{{ form.basic_ingredient }}</div>
        </div>
        
        <div class="pb-3">
            <p class="form-headline d-flex justify-content-end">Valitse tai kirjoita ruokalaji</p>
            {{ form.categoryFK }}
        </div>
        <div class="pb-3">{{ form_category.cat_name }}</div>
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success mb-4 px-4">Lisää resepti</button>
        </div>
    </form>
    </div>
</div>
<script>
    // $(document).ready(function() {
    //     var col = 2
    //     $(window).resize(function(){
    //         var windowInnerWidth = window.innerWidth
    //         if ($(window).width() <= 823){
    //             col = 3
    //             // $('#id_ingredients').autocolumnlist({columns: 3})
    //         }
    //         else {
    //             col = 4
    //         }
    //         console.log(col)
    //         $('#id_ingredients').autocolumnlist({columns: col})
    //     }).resize()
        
    // })
</script>
{% endblock %}
