{% extends "resepti_app/base.html" %}

{% load static %}

{% block title %}Muokkaa reseptiä{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        //https://github.com/Neolot/jQuery.AutoColumnList
        //https://neolot.com/narabotki/autocolumnlist-jquery-plugin-dlya-razdeleniya-spiskov-na-kolonki
        $('#id_ingredients').autocolumnlist({columns: 10});
        $('.check_warp').find("ul").addClass('list-group')
        $('.check_warp').find("li").addClass('list-group-item ')
        $('.check_warp').find("input").addClass('form-check-input me-1')
        // $('.check_warp p').click(function(){
        //     console.log($('.check_warp p').attr('class'))
        //     $('.check_warp div').toggle("slow")
        // })
    })
</script>
{% endblock %}
{% block content %}
<div class="content_warp"> 
    <div class="row">
    <form method="post" class="mb-4" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="h1 pb-4 pt-4">Reseptin Muokkaaminen</div>
        <div class="pb-3 ">
            {{ form.headline }}
        </div>
        
        <!-- {% if formset  %}
        {{ formset.management_form }}
        <div class="pb-3 mb-4" id="formset_block">
            {% for form in formset %}
                <div class="row">
                    <div class="col">
                        {{ form.id }}
                        {{ form.ing_name }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %} -->

        <div class="pb-3 mb-4" id="formset_block">
        {{ formset.management_form }}
        {% for f1, f2 in allformsets %}
            <div class="row">
                <div class="col">
                    {{f1.id}}
                    {{ f1.ing_name }}
                    {{f2.id}}
                    {{ f2.amount }}
                </div>
            </div>
        {% endfor %}
        </div>

        <!-- <div class="pb-3 border-bottom mb-4">{{ form.body_text|safe }}</div> -->
        <div class="pb-3 border-bottom mb-4">{{ form.body_text }}</div>
        <div class="pb-3 border-bottom mb-4">
            <p class="form-headline d-flex justify-content-end">Lisää kuva</p>
            {{ form.image }}
        </div>
        
        <div class="check_warp pb-3 border-bottom mb-4">
            <p class="form-headline d-flex justify-content-end">Valitse päärakaa-aineet</p>
            <div style="display: block;">{{ form.basic_ingredient }}</div>
        </div>
        
        <div class="pb-3">
            <p class="form-headline d-flex justify-content-end">Valitse tai kirjoita ruokalaji</p>
            {{ form.categoryFK }}
        </div>
        <div class="pb-3">{{ form_category.cat_name }}</div>
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success mb-4 px-4 btn_bgcolor">Muokkaa reseptiä</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}
