{% extends "resepti_app/base.html" %}

{% load static %}

{% block title %}Cook Book{% endblock %}


{% block content %}
{% include 'resepti_app/search.html' %}
<div class="content_warp_recipe">
    <div class="card_warp row mt-4">
        {% if recipes %}

        {% for el in recipes %}
                <div class="card mx-2 my-2">
                    <img src="{{el.image.url}}" class="card-img-top pt-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{el.headline}}</h5>
                        <p class="card-text">{{el.body_text|slice:":80"|safe}}...</p>
                        <a href="{% url 'resepti' el.id %}" class="btn btn-primary">Lue lisää</a>
                    </div>
                </div>
        {% endfor %}
        {% else %}
        <div class="mt-5" style="text-align: center;">
            <p style="font-size: 2em">Hakusi ei tuottanut tuloksia &#128546;</p>
        </div>
        {% endif %}
    </div>
    
</div>
{% endblock %}