{% extends "resepti_app/base.html" %}

{% load static %}

{% block title %}resepti{% endblock %}


{% block content %}
<div class="content_warp_recipe">
    <div class="row">

            <div class="d-inline-block d-flex justify-content-between my-5">
                <h1>{{recipe.headline}}</h1>
                <a href="{% url 'edit_resepti' recipe.id %}">
                    <button type="submit" class="btn btn-success px-4 my-2">Muokkaa</button>
                </a>
            </div>
            <h4>{{recipe.categoryFK}}</h4>

        <img src="{{recipe.image.url}}" alt="kuva" class="pb-3 img_crop">
        <h4>Ohjeet</h4>
        <span>
            {{recipe.body_text|safe}}
        </span>
    </div>
</div>
{% endblock %}