{% extends "resepti_app/base.html" %}

{% load static %}

{% block title %}resepti{% endblock %}


{% block content %}
<div class="content_warp_recipe">
    <div class="row mb-5 px-5" style="background-color: white;">
            <div class="d-inline-block d-flex justify-content-between mt-5 mb-2">
                <div>
                    <h1>{{recipe.headline}}</h1>
                    <p>{{recipe.categoryFK}}</p>
                </div>
                <a href="{% url 'edit_resepti' recipe.id %}">
                    <button type="submit" class="btn btn-success px-4 my-2 btn_bgcolor">Muokkaa</button>
                </a>
            </div>
        <img src="{{recipe.image.url}}" alt="kuva" class="pb-3 img_crop">
        <div class="my-5">
        {% for ing_amount in recipe_ingredients %}
            <div class="row">
                <div class="col" style="text-align: right; font-weight: 600;">
                    {{ ing_amount.ingredient }}
                </div>
                <div class="col">
                    {{ ing_amount.amount }}
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="mb-5">
            <h2>Ohjeet</h2>
            <span>
                {{recipe.body_text|safe}}
            </span>
        </div>
    </div>
</div>
{% endblock %}