body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Outfit";
    font-weight: 300;
    min-width: 360px;
    background: linear-gradient(0deg, rgba(255, 255, 239, 0.9), rgba(255, 255, 239, 0.90)), url('pics/patterni-konfeti.png');
}



/* NAVBAR */
.navbar-brand img{
    width: 100%;
    height: 50px;
    /* border: 1px red solid; */
}

.navbar-nav{
    text-align: right;
}

.navbar-light .navbar-nav .nav-link{
    color:#424242;
    font-weight: 600;
}


/* Add resepti */
.content_warp{
    background-color: white;
    max-width: 800px;
    padding: 0;
}
.content_warp > .row{
    padding: 0 50px;
}

.form-headline{
    font-size: 1.2em;
    /* border: 1px red solid; */
}

#id_basic_ingredient{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-template-rows: auto;
    gap: 15px 0;
    /* column-gap: 10px; */
    justify-items: center;
}

.list-group-item {
    background-color: inherit;
    /* border: 1px solid rgba(0,0,0,.125); */
    border: 0px solid rgba(0,0,0,.125);
    min-width: 150px;
    max-width: 180px;
}

#id_ingredients div:nth-child(4n){
    /* border: 1px red solid; */
}

/*----------- Add resepti */


/* jQuery.AutoColumnList-1.2.0 */
.column{
    /* justify-content: space-between; */
    max-width: 700px;
    /* border: 1px red solid; */
}



/* RESPTI SIVUN */
.img_crop{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0% 20%;
}



/* CARD */
.content_warp_recipe{
    max-width: 1190px;
}
    .card-text{
        font-size: 1em;
        word-break: break-all;
    }
    .card img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: 0% 20%;
    }

    .card_warp{
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: unsafe center; */
        /* border: 1px green solid; */
        /* display: inline-block; */
        /* max-width: auto; */
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
        grid-template-rows: auto;
        column-gap: 10px;
        justify-items: center;
        /* justify-content:space-between; */
    }

    .card{
        display: grid;
        max-width: 18em;
    }
/* --CARD-- */


/* IDt joiden avulla saadaan "add_resepti.html" sivulla raaka-aine sekä määrä formit vierekkäin */
.left {
    float: left;
    width: 49%;
    margin-bottom: 0.6em;
}

.right {
    float: right;
    width: 49%;
    margin-bottom: 0.6em;
}

.btn_bgcolor{
    background-color:peru; 
    border: peru;
}
.btn_bgcolor:hover{
    background-color:#ca9968; 
    border: #ca9968;
}






/* @media screen and (min-width: 961px){
    .card:nth-child(4n){
        border: 1px red solid;
    }
    .card {
        border: 1px green solid;
    }
    } */
      



